.Row,
.Col {
  display: flex;
}

.Row {
  width: 100%;
  flex-flow: row nowrap;
}

.Col {
  flex-flow: column nowrap;
}

.Row-reverse {
  flex-flow: row-reverse nowrap;
}
.Col-reverse {
  flex-flow: column-reverse nowrap;
}